body{

    /*background-color: darkcyan;
    border-radius: 10px;*/
    /*backgrouns-color  #B3E5FC*/
}

.card{
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: #B3E5FC;
}

#col2 {
   float:      contour;
   width:      500px;
   text-align: center;
   background: beige;
}

.stats{

    background: #f2f5f8 !important;
    color: #000 !important;
}

.articles{
  font-size:10px;
  color: #a1aab9;
}

.number1{
  font-weight:500;
}

.followers{
    font-size:10px;
  color: #a1aab9;

}

.number2{
  font-weight:500;
}

.rating{
  font-size:10px;
  color: #a1aab9;
}

.number3{
  font-weight:500;
}

.meupost{

  background: azure !important;
}

.meupost2{

  background: powderblue !important;
}

.justext{
  text-align: justify;
}
.fundo{

  background: black !important;
}

.divs {
  width: 300px;
  height: 300px;
}

.divs2{
  width: 200px;
  height: 300px;
}

.divs3{
  width: 1980px;
  height: 1080px;
}

.divFixed {
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 20px;
  position: fixed;
  top: 150px;
  right: 350px;
}

.divSticky{
  background-color: grey;
  position:sticky;
  top: 0px;

}

.divFixedCep {
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 20px;
  position: fixed;
  top: 150px;
  left: 350px;
}

.divFixedCard {
  background-color: azure;

  position: fixed;
  top: 150px;
  right: 150px;
}

.cabecalho {
  align-items: center;
  background: azure;
  display: inline-block;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.menu__lista {
  display: flex;
  margin-right: 4rem;
}

.bgSizeContain {
  height: 200px;
  background-image: url('../img/background_home.jpg');
  background-size: contain;
  border: 2px solid darkgray;
  color: #000; text-shadow: 1px 1px 0 #fff;
}

.square2 {
  width: 300px;
  height: 300px;
  background-image: url(favicon.png);
  background-size: 300px;
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
}

.posthome{
  border-radius: 20px;
  border: 1px solid darkblue;

}