{% extends 'base.html' %}

{% block body %}
<div  class="container p-2 ">
</div>
<div  class="container">
    <div class="border p-5 mt-2 col-md-10" style="margin:0 auto;text-align:center" id="col2">
        <h3>Contato:</h3>
        <hr>
        <h5>e-mail:  <strong>   ccarige@gmail.com</strong></h5>
        <p>
          <a href="https://github.com/claudiocarige" target="_blank">
           <img border="0" src="/static/fotos_perfil/GitHub Claudio.png" alt="HTML tutorial" width="150" height="150"/>
          </a>
          <a href="https://www.linkedin.com/in/cl%C3%A1udio-carig%C3%A9-b7429b6b/" target="_blank">
           <img border="0" src="/static/fotos_perfil/Linkedin Claudio.png" alt="HTML tutorial" width="150" height="150"/>
          </a>
        </p>
    </div>
</div>
{% endblock %}