{% extends 'perfil.html' %}

{% block editar_perfil%}
    <h1  style="color: white"> <br> <b> <center>Edição de perfil</center></b></h1>
        <div  class="container text-bg-light p-3">

            <div class="row">
                <div class="col">
                    <form method="POST" action="" class="border p-4 mt-2" enctype="multipart/form-data">
                        {{form.csrf_token}}
                        <legend>Editar Perfil</legend>
                            <fieldset>
                                 <div class="form-group">
                                    {{form.username.label(class="form-control-label")}}
                                    {% if form.username.errors %}
                                        {{ form.username(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form.username.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.username(class="form-control") }}
                                    {% endif %}
                                 </div>
                                 <div class="form-group">
                                    {{form.email.label(class="form-control-label")}}
                                    {% if form.email.errors %}
                                        {{form.email(class="form-control is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for erro in form.email.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                        {% else %}
                                            {{form.email(class="form-control")}}
                                        {% endif %}
                                 </div>

                                <div class="form-group">
                                    {{ form.foto_perfil.label}}
                                     <br>
                                    {{ form.foto_perfil(class="form-control-file")}}
                                     <br>
                                    {% if form.foto_perfil.errors %}
                                        {% for erro in form.foto_perfil.errors %}
                                             <span class="text -danger" style="color: darkred">{{ erro }}</span><br>
                                        {% endfor %}
                                    {% endif%}

                                </div>
                                <hr>
                                <P>Linguagens:</P>
                                {% for campo in form %}
                                    {% if "linguagem_" in campo.name %}
                                        <div class="form-group container">
                                            {{campo(class="form-check-input mt-3")}}
                                            {{campo.label(class="form-check-label mt-2")}}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </fieldset>
                        {{form.botao_submit_editarperfil(class="btn btn-primary mt-2")}}
                    </form>
                </div>
           </div>
        </div>
    <div class="row mt-5">

    </div>
{% endblock %}
