{% extends 'base.html' %}

{% block body %}

        <div class=" p-1 mt-4 col-md-10" style="margin:0 auto; ">
                <h1 class="mt-2 " style="text-align:center"> <strong style="color:blue">PORTAL MASTER TECHNOLOGY </strong></h1>
                <h2 class="p-3 "  style="text-align:center ">Compartilhe conhecimento! Crie seu Post.</h2>
                <hr>
                 <div>
                    <div class=" row mt-4 p-3  meupost ">
                        <div class="col col-4">
                            <h3 style="color: lime">Cotação Dollar: <button type="button" class="btn btn-outline-success mt-1 p-2 "  disabled><strong>R$ {{cotacoes_dicio['USD']['bid']}}</strong></button> </h3>
                        </div>
                         <div class="col col-4">
                            <h3 style="color: lime">Cotação Euro: <button type="button" class="btn btn-outline-success mt-1 p-2 "  disabled><strong>R$ {{cotacoes_dicio['EUR']['bid']}}</strong></button> </h3>
                        </div>
                        <div class="col col-4">
                            <h3 style="color: lime">Cotação Bitcoin: <button type="button" class="btn btn-outline-success mt-1 p-2 "  disabled><strong>R$ {{cotacoes_dicio['BTC']['bid']}}</strong></button> </h3>
                        </div>
                    </div>
                 </div>

                <hr>

                {% for post in posts %}
                    <div class=" row mt-4 p-3  meupost ">
                        <div class="col col-3">
                            <div class="post mt-3 " style="text-align:center" >

                                    <div class="image pe-4">
                                       <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="70">
                                    </div>
                                    <div>
                                        <h6 class="" style="color: blue">Autor: <strong>{{ post.autor.username }}</strong></h6>
                                        Habilidades<br>
                                        {% if 'Não informado' not in post.autor.linguagem %}
                                            {% for curso in post.autor.linguagem.split(';') %}
                                               <button type="button" class="btn btn-success mt-1" disabled>{{curso}}</button>
                                            {% endfor %}
                                        {% else %}
                                            <p><strong>Nenhuma</strong></p>
                                        {% endif %}
                                    </div>
                            </div>
                        </div>
                        <div class="container col col-6 mt-3 "">
                           <div>
                              <h5 style="text-align:center"><strong>{{ post.titulo }}</strong></h5>
                           </div>

                            <p class="justext">{{ post.corpo_post }}</p>

                        </div>

                    </div>

                {% endfor %}
        </div>
        <div>


        </div>

{% endblock %}