{% extends 'base.html' %}

{% block body %}

<div class=" mt-2 col-md-8" style="margin:0 auto; ">
    <h1 class="mt-2 " style="text-align:center">
        <strong style="color:blue">PORTAL MASTER TECHNOLOGY</strong>
    </h1>
    <h2 class="p-3 "  style="text-align:center ">Compartilhe conhecimento! Crie seu Post.</h2>
    <div class=" row mt-0 p-0 ">
    <hr>
    {% for post in posts %}
        <div class=" row mt-4 p-3  meupost ">
          <div class="col col-3">
              <div class=" posthome post mt-3 " style="text-align:center" >
                  <div class="image pe-1">
                      <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
                       class="rounded" width="100">
                  </div>
                  <div>
                     <h6 class="" style="color: blue">Autor: <strong>{{ post.autor.username }}</strong></h6>
                     Habilidades<br>
                     {% if 'Não informado' not in post.autor.linguagem %}
                         {% for curso in post.autor.linguagem.split(';') %}
                            <button type="button" class="btn btn-outline-primary mt-1" disabled>{{curso}}</button>
                         {% endfor %}
                     {% else %}
                         <p><strong>Nenhuma</strong></p>
                     {% endif %}
                 </div>
              </div>
          </div>
          <div class="posthome container col col-8 mt-0 meupost2">
             <div>
               <a style="text-decoration: none" href="{{ url_for('exibir_post', post_id=post.id)}}">
                   <h5 style="text-align:center"  ><strong>{{ post.titulo }} </strong>
                    <small title="Editar Post" style="font-size: 12px">- Editar Post</small>
                   </h5>
               </a>  <small class="text-muted" style="font-size: 12px" >
                 Data de criação: {{ post.data_criacao.strftime('%d/%m/%Y')}}</small>
               <hr>
             </div>
              <p style='text-align:justify' >{{ post.corpo_post }}</p>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}