{% extends 'base.html' %}

{% block body %}
        <div class="container mt-3 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image pe-4">
                        <img src="{{ foto_perfil }}" class="rounded" width="155">
                    </div>
                    <div class="ml-3 w-100">
                       <center> <h4 class="mb-1 mt-0">{{current_user.username}}</h4>
                       <span>{{ current_user.email}}</span></center>
                       <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column">
                                <span class="articles ps-3 mt-2">Posts</span>
                                <span class="number1 ps-4">0</span>
                            </div>

                                {% if 'Não informado' in current_user.linguagem %}
                                    <div class="d-flex flex-column">
                                        <span class="rating pe-3 mt-2">Cursos</span>
                                        <span class="number3 ps-2">0</span>
                                    </div>
                                {% else %}
                                    <div class="d-flex flex-column">
                                        <span class="rating pe-3 mt-2">Cursos</span>
                                        <span class="number3 ps-2">{{ current_user.linguagem.count(';') + 1 }}</span>
                                    </div>
                                {% endif %}
                       </div>
                       <div class="button mt-2 d-flex flex-row align-items-center">
                          <a class="w-100 ml-2" href="{{ url_for('editar_perfil') }}">
                            <button class="btn btn-sm btn-outline-primary w-100 ml-2">Editar Perfil</button>
                          </a>
                       </div>
                    </div>
                </div>
            </div>
         </div>
            <div class="row justify-content-center">
                <div class="col col-4" style="text-align: center">
                    <br><strong>Habilidades</strong><br>
                    {% if 'Não informado' not in current_user.linguagem %}
                        {% for curso in current_user.linguagem.split(';') %}
                            <button type="button" class="btn btn-success mt-2" disabled>{{curso}}</button>
                        {% endfor %}
                    {% else %}
                        <button type="button" class="btn btn-success mt-2" disabled><strong>Nenhuma</strong></button>
                    {% endif %}
                </div>
            </div>
    {% block editar_perfil %}

    {% endblock %}

{% endblock %}