{% extends 'base.html' %}

{% block body %}

        <div  class="container">

            <div class="border p-1 mt-2 col-md-10" style="margin:0 auto;text-align:center">
                <h1 > Página <strong style="color:blue">Usuários</strong>  em Construção </h1>
            </div>
            <!-- Bloco de for para imprimir a lista de nomes que está em Main-->
           {% for usuario in lista_usuarios %}
            <p>{{ usuario }}</p>
            <hr>
            {% endfor %}


        </div>

{% endblock %}
